<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">

    <title>Match Game</title>

    <link rel="shortcut icon" href="image/favicon.ico" type="image/x-icon">

    <link rel="stylesheet" href="lib/pure/0.2.0/base-min.css">
    <link rel="stylesheet" href="lib/pure/0.2.0/buttons-min.css">

    <link rel="stylesheet/less" href="less/main.less">


    <script src="lib/underscore/1.4.4/underscore-min.js"></script>

    <script src="lib/angular/1.2.11/angular.min.js"></script>
    <script src="lib/angular/1.2.11/angular-touch.min.js"></script>

    <script src="lib/less/1.3.3/less.min.js"></script>
    <script src="lib/coffee-script/1.7.1/coffee-script.min.js"></script>

</head>
<body ng-cloak ng-controller="MainCtrl as main">

    <a class="ribbon" href="https://github.com/imcotton/match">
        <img alt="Fork me on GitHub"
             ng-src="http://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png"
        >
    </a>


    <div class="header">
        <span class="size">
            <i>size:</i>
            <a href="./">defaule</a>
            <a href="?size=11x11" class="pure-button">11</a>
            <a href="?size=17x17" class="pure-button">17</a>
        </span>
    </div>


    <div class="panel">

        <table class="area content">

            <tr ng-repeat="row in main.list"
                class="cell-row"
            >
                <td ng-repeat="item in row"
                    ng-style="{
                        'background-color': item.color.hex,
                        'border-color': item.color.hex
                    }"
                    ng-class="{
                        click: item.click,
                        done: item.state.done
                    }"
                    ng-click="!autoPlays && main.cellClick(item)"
                    class="cell"
                ></td>
            </tr>

        </table>

    </div>


    <div ng-init="hints = 3" class="footer">

        <p ng-hide="main.wellDone">
            <button ng-click="main.hintOnce(); hints = hints - 1"
                    ng-hide="hints <= 0"
                    class="pure-button pure-button-success"
            >hint me {{ hints | repeat:'!' }}</button>

            <button ng-click="main.autoPlay(); autoPlays = true"
                    ng-hide="autoPlays || hints > 0"
                    class="pure-button pure-button-primary"
            >auto play</button>
        </p>

        <p ng-show="main.wellDone">
            <button ng-click="main.reload()"
                    class="pure-button pure-button-primary"
            >restart</button>
        </p>

        <p ng-show="autoPlays && !main.wellDone"
           style="visibility: hidden"
        >
            <button class="pure-button">place holder</button>
        </p>

        <ul class="links">
            <li>
                <a href="https://github.com/imcotton/match">source code</a>
            </li>
            <li class="last">
                <a href="test/runner.html">unit test</a>
            </li>
        </ul>

    </div>


    <script type="text/literate-coffeescript" src="src/components.litcoffee"></script>
    <script type="text/coffeescript" src="src/modules-bootstrap.coffee"></script>
    <script type="text/coffeescript" src="src/main-ctrl.coffee"></script>
    <script type="text/coffeescript" src="src/app.coffee"></script>

</body>
</html>
