
.size {
    & > .link {
        display: inline;

        &:not(.small) {
            @media (max-width: 600px) {
                display: none;
            }
        }
    }
}

.timer {
    & .blinking {
        &.invalid {
            text-decoration: line-through;
        }
    }
}

