
<main>

    <ol class="size container fixed">
        <li class="link"
            *ngFor="let size of [5, 7, 9, 13, 19]"
            [ngClass]="{small: size < 9}"
        >
            <a class="pure-button button-default button-xs"
               routerLink="./"
               [queryParams]="{w: size, h: size}"
            >{{ size }} &times; {{ size }}</a>
        </li>
    </ol>

    <p class="text-center timer">
        <samp class="blinking"
              [ngClass]="{
                  invalid: autoplaySubject | async
              }"
        >
              {{ timer.h | number: '2.' }}
            : {{ timer.m | number: '2.' }}
            : {{ timer.s | number: '2.' }}
        </samp>
    </p>

    <board
        [grid]="source?.data"
        [renderObs]="renderSubject"
        [autoplayObs]="autoplaySubject"
        [noMorePairs]="!nextPair"
        (pairObs)="onPair($event)"
    ></board>

    <p class="buttons text-center"
       [style.visibility]="(source?.data | async) ? 'visible' : 'hidden'"
    >
        <button class="pure-button button-success"
                [hidden]="!nextPair || hint <= 0"
                (click)="onHint(nextPair)"
        >hint me {{ hint | repeat: '!' }}</button>

        <button class="pure-button button-primary"
                [hidden]="!nextPair || hint > 0"
                [disabled]="autoplaySubject | async"
                (click)="onAutoplay($event)"
        >{{ (autoplaySubject | async) ? 'playing...' : 'autoplay?' }}</button>

        <button class="pure-button button-primary"
                [hidden]="!!nextPair"
                (click)="onReplay($event)"
        >play again</button>
    </p>

</main>

